*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


.gallery {
    flex-basis: 24%;
    border: 1px solid rgb(201, 201, 201);
    min-width: 200px;
    margin: 5px;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery p {
    padding: 0 10px;
    text-align: center;
}

@media screen and (max-width: 1000px) and (min-width:600px) {
    .gallery {
        flex-basis: 45%;
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        flex-basis: 95%;
    }
}

